.container {
  width: 100%;
  //max-width: 62.5em; // -> 1000px wiyh default font-size of 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// add some color feedback with the field is not valid
input,
textarea {
  &.form-error {
    border-color: $error-color;
    & ~ .help-text {
      color: $error-color;
    }
  }
}
