body,html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 62.5em; // -> 1000px with default font-size of 16px;
  min-width: 37.5em; // -> 600px with default font-size of 16px;
  padding: 40px;
  background-color: #e4e4e4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-bar {
  height: 60px;
}

.post-body {
  margin-top: 20px;
}

.button,
button {
  margin: 0 1em 0 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

// add some color feedback with the field is not valid
input,
textarea {
  &.form-error {
    border-color: $error-color;
    & ~ .help-text {
      color: $error-color;
    }
  }
}
